/* You can add global styles to this file, and also import other style files */
/*body{
    /*background: linear-gradient(to left, #52ace7, #6dd5fa);*/
    /*background: linear-gradient(to right, #f46b45, #eea849); naranja?*/
/*}*/
a{
    text-decoration: none !important;
}
.h1-strong{
    font-size: 35px; 
    font-weight:bold;
    margin-left: 13px;
    margin: 20;
    padding: 15px;
    border-bottom: 1px solid #eee;
}
.navigation{
    padding: 0px !important;
}

.navbar{
    border-radius: 0px !important;
    background: #e53c37 !important;
    border:none;
    vertical-align: middle;
}

.navbar *{
    color: #FFFFFF !important;
}
.dropdown-menu *{
    color: #cc1717 !important;
    margin-right: 2px;
    vertical-align: auto;
}
.nav .avatar{
    width: 35px;
    height: 35px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 0px;
    margin-right: 10px;
}
.nav .avatar .img{
    width: 100%
}

.navigation .navbar .nav>.open>a,.navigation .navbar .nav>.open>a:focus{
    background: #cc1717 !important;
}
.navbar-expand .navbar-nav {
    flex-direction: row;
    align-items: center;
}

.panel-body .image-user{
    border: 2px;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 0px;
    margin-left: 15px;
    border-style: double;
    border-color: #bdbdbd;
}

/*gente*/
#container-body{
    width: 95% !important;
}
.panel-body .image-user a img{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.panel-body .image-user{
    vertical-align: middle;
}

.item-user{
    border: solid;
    border-radius: 50px;
    border-color: #DEDEDE;
    border-width: 1px;
    margin-bottom: 2px;
    padding: 5px;
}
.panel-body .User-name{
    margin-top: 10px;
}
.panel-body .User-name .nickname{
    color:#969393;
}
.panel-body .User-name .name-surname a{
    color:#444;
    font-weight: bold;
}
.panel-body p{
    margin-top: 0;
    margin-bottom: 0rem;
    color: #000000;
}
.pagination{
  margin-left: auto;
  margin-right: auto;
}
.people-body, .publication-body{
    margin-left: auto;
    margin-right: auto;
}
.btn-fw{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
}

/*sidebar*/
#user-card .avatar{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    border-style: double;
    border-color:#777676;
    padding: 0px;
}
#img{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#user-card{
    padding: 15px;
}
#user-card .name-surname{
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#user-card .name-surname a{
    color: #5f5f5f;
}

#user-card .label-stats,
#user-card .number-stats{
    display: block;
    text-align: center;
}
#user-card .stats{
    padding: 0px;
}

#user-card .label-stats{
    font-weight: bold;
    color: #727070;
}

#user-card .number-stats{
    color: #7c7a7a;
}

#new-publication, #user-card {
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: #DEDEDE;
    margin-top: 15px;
    padding: 10px;
}

.panel-body .image-user-publication{
    border: 2px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    overflow: hidden;
    border-style: double;
    border-color: #bdbdbd;
    margin-right: 10px;
    margin-left: 30px;
}

.panel-body .image-user-publication .imgUsrPub{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.item-publication, .sub-item-publication, .footerpub{
    border: solid;
    border-radius: 25px;
    border-color: #DEDEDE;
    border-width: 1px;
    margin: 0px;
}

.item-publication{
    padding: 0px;
    padding-top: 5px;
    margin-top: 15px;
    margin-bottom: 0 px;
}

.sub-item-publication{
    border-radius: 0%;
    padding: 5px;
    margin-top: 5px;
}

.footerpub{
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    padding: 0px;
    padding-right: 15px;
    text-align: right;
    font-size: 80%;
}

#publications .image-user-publication p, span{
    color: #494949;
    font-size: 75%;
}

#btn-mas{
    margin-top: 15px;
}